<!-- <ng-template #template let-msg>
  <h1>{{ msg }}</h1>
  <p>This is the first template.</p>
</ng-template>
<ng-container *ngTemplateOutlet="template; context: {$implicit: cal()}"></ng-container>
 -->

<ng-template #employesTable let-emp>
    <table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>salary</th>
    </tr>
    <tr *ngFor="let e of emp">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.salary}}</td>
    </tr>
</table> </ng-template>

<ng-container
  *ngTemplateOutlet="employesTable ; context :{$implicit:emplooyes} ">
</ng-container>
