<!-- <p [ngClass]="'updateStyles fontitalic fontweight'">this is an example of ngClass directive</p> -->

<!-- <input
  type="text"
  placeholder="Enter text here..."
  (input)="onInput($event)"
  [ngClass]="{ txt: hasText }"
/> -->

<button (click)="toggleMode()">Toggle Mode</button>
<div class="box" [ngClass]="colorMode">
  <h1>Light Mode</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates omnis
    quisquam ex illum fugiat, earum animi sed! Quis quia rerum delectus aliquid
    alias ab ipsam, in praesentium iste saepe ipsa!
  </p>
</div>

<div class="box" [ngClass]="colorMode">
  <h1>Dark Mode</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates omnis
    quisquam ex illum fugiat, earum animi sed! Quis quia rerum delectus aliquid
    alias ab ipsam, in praesentium iste saepe ipsa!
  </p>
</div>
