<!-- <div style = "text-align: center">
    <p [ngStyle]="applyVal">Example of [ngStyle] directive</p>
    <p></p>

</div> this was for learning -->
<!-- Task -->

<form > 
  <h1>Submit Form</h1>
  <div class="form-group">
    <label for="name"> Name</label>
    <input type="text" name="name"  [(ngModel)]="nm" [ngStyle]="{'background-color': nm ? 'lightgreen' : '#ffb6c1'}" required/>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" required [(ngModel)]="em" [ngStyle]="{'background-color': isEmailValid ? 'lightgreen' : '#ffb6c1'}" (input)="checkEmailValidation(em)" />
  </div>

  <button type="submit">Submit</button>
</form>
